
<div class="d-flex align-items-center">
    <button type="button" class="btn-icon btn-menu" aria-label="Menu" (click)="onBtnMenuClicked()">
        <i class="bi-list"></i>
    </button>
    <span class="logo">
        RCL
    </span>
</div>
<div>
    <button type="button" class="btn-icon btn-search" aria-label="Search" (click)="onBtnSearchClicked()">
        <i class="bi-search"></i>
    </button>
    <button type="button" class="btn-icon btn-mail" aria-label="Messages" (click)="onBtnMailClicked()">
        <i class="bi-envelope"></i>
    </button>
    <button type="button" class="btn-icon btn-notification" aria-label="Notifications" (click)="onBtnNotificationClicked()">
        <i class="bi-bell"></i>
    </button>
</div>

