/* You can add global styles to this file, and also import other style files */

@import 'styles/colors.scss';
@import 'styles/bootstrap-icons.scss';

html, body {
    font-size: 14px;
    box-sizing: border-box;
}

.btn-icon {
    box-sizing: content-box;
    min-width: 1rem;
    min-height: 1rem;
    padding: .25em .25em;
    background: none;
    outline: none;
    border: none;
    font-size: 1.3rem;
}

h1, h2, h3, h4, h5 {
    color: $primary-color;
}

.form-group {
    position: relative;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
      }

    label {
        width: 10rem;
        font-weight: bold;
        color: #909090;
    }

    &.required {
        label {
            &::after {
                content: ' *';
            }
        }
    }

    .control-group{
        flex-grow: 1;

        input, select {
            max-width: 20rem;
            border-radius: 8px;

            @media (max-width: 767px) {
                max-width: 100%;
            }
        }

        select {
            background-color: $secondary-color;
            color: #fff;
            font-weight: 500;
            position: relative;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        }
    
        .invalid-tooltip {
            display: block;
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }

}

.button-group {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;

    @media(max-width: 767px) {
        justify-content: space-between;
    }

    .btn {
        width: 8rem;
        margin: 0 5px;

        @media(max-width: 767px) {
            width: auto;
            flex-grow: 1;
        }
    }
}

.btn-primary-custom, .btn-secondary-custom {
    border-radius: 8px;
    transition: .2s all;
    font-weight: 700;
    color: #fff!important;  

    &:hover {
        transform: scale(1.1);
    }
} 

.btn-primary-custom {
    background: $primary-color;
    box-shadow: 0px 0px 8px 0px rgba(115,213,225,0.75);
 

    &:focus {
        box-shadow: 0px 0px 8px 0px rgba(115,213,225,0.75);
    }

    &:active {
        background: darken($primary-color, 5%) ;
    }
}

.btn-secondary-custom {
    background: $secondary-color;
    box-shadow: 0px 0px 8px 0px rgba(184,142,244,0.75);
    

    &:focus {
        box-shadow: 0px 0px 8px 0px rgba(184,142,244,0.75);
    }

    &:active {
        background: darken($secondary-color, 5%) ;
    }
}